// Colors
$PriColor: black;
$SecColor: rgba(159, 233, 255, 0.25);
$TatColor: #106277;
$footerBackColor: #106277;
$footerColor: white;
$backgroundTitleColor: rgba(black, 0.03);

// Fonts
$backgroundTitle: 20rem;
$Headsize: 3.5rem;
$titlesize: 2.5rem;
$Txtsize: 1.3rem;
$linkSize: 1.1rem;
$HeadFont: 'Yaldevi', sans-serif;
$txtFont: 'Yaldevi', sans-serif;

//logo
$logoFont: 'Abril Fatface', cursive;
$logosize: 3rem;
