<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<title>Matrix</title>
	<meta charset="utf-8">

	<!-- Style Sheet -->
	<link rel="stylesheet" href="C:\Users\abrar\Desktop\school\ala\software developer website\group website\website\css\style.min.css">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Yaldevi:wght@200;500;700&display=swap" rel="stylesheet">

	<!-- Link for the Favicon -->
	<link rel="icon" href="C:\Users\abrar\Desktop\school\ala\software developer website\group website\website\images\favicon.ico" type="image/x-icon" />

</head>

<body>
	<nav>
		<div class="logo">
			<h1 class="logoName">Matrix</h1>
		</div>
		<ul class="links">
			<li><a class="pageLink" href="index.html">Home</a></li>
			<li><a class="pageLink" href="about.html" style="border-bottom: 2px solid black">About</a></li>
			<li><a class="pageLink" href="termen.html">Termen</a></li>
			<li><a class="pageLink" href="contact.html">Contact</a></li>
		</ul>
	</nav>
	<div class="round1"></div>
	<header class="aboutHeader">
		<div class="round3"></div>
		<!-- <h6 class="backgroundTitle">"</h6> -->
		<h2 class="title">About</h2>
		<div class="text">
			<p class="aboutTxt">
				Deze website is bedoeld om nieuwe studenten te helpen die willen beginnen met software Developer maar er niets vanaf weten. Na het lezen van onze informatiepagina zou u enige kennis van software Development moeten kunnen begrijpen.
			</p>
			<p class="aboutTxt">
				We gaan door alle belangrijke onderdelen van het zijn van een software Developer en wat voor werk je later in je carrière gaat doen.
			</p>
			<p class="aboutTxt">
				Alle informatie op deze website is te vinden in Wikipedia. Als je het artikel zelf op Wikipedia wilt lezen.
			</p>
			<a href="termen.html" class="btn infoBtn">Informatie Pagina</a>
		</div>
	</header>
	<footer>
		<div class="FooterLogo">
			<h1 class="logoFooter">Matrix</h1>
		</div>
		<div class="contact">
			<h3>Contacts</h3>
			<a class="footerLink" href="tel:123-456-7890">123-456-7890</a>
			<a class="footerLink" href="mailto:info@matrix.nl">info@matrix.nl</a>
			<a class="footerLink" href="www.maps.com">palmoranstraat 132</a>
			<p class="footerLink">4342 HF</p>
		</div>
		<div class="developer">
			<h3>Ontwerpers</h3>
			<p class="footerLink">Abrar Muftah</p>
			<p class="footerLink">Samuel Martina</p>
			<p class="footerLink">Omar Oughriss</p>
			<p class="footerLink">Yasine El Ouadi </p>
		</div>
		<div class="company">
			<h3>Bedrijf</h3>
			<a href="index.html" class="footerLink">Home</a>
			<a href="about.html" class="footerLink">About</a>
			<a href="termen.html" class="footerLink">Termen</a>
			<a href="contact.html" class="footerLink">Contact</a>
		</div>
	</footer>
	<div class="round2"></div>
</body>

</html>
