<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<title>Matrix</title>
	<meta charset="utf-8">

	<!-- Style Sheet -->
	<link rel="stylesheet" href="C:\Users\abrar\Desktop\school\ala\software developer website\group website\website\css\style.min.css">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Yaldevi:wght@200;500;700&display=swap" rel="stylesheet">

	<!-- Link for the Favicon -->
	<link rel="icon" href="C:\Users\abrar\Desktop\school\ala\software developer website\group website\website\images\favicon.ico" type="image/x-icon" />

</head>

<body>
	<nav>
		<div class="logo">
			<h1 class="logoName">Matrix</h1>
		</div>
		<ul class="links">
			<li><a class="pageLink" href="index.html">Home</a></li>
			<li><a class="pageLink" href="about.html">About</a></li>
			<li><a class="pageLink" href="termen.html" style="border-bottom: 2px solid black">Termen</a></li>
			<li><a class="pageLink" href="contact.html">Contact</a></li>
		</ul>
	</nav>
	<div class="round1"></div>
	<header class="aboutHeader">
		<article>
			<h6 class="title">Back-End Development.</h6>
			<p class="aboutTxt">
				Back end development is alle digitale handelingen achter de schermen die nodig zijn om de voorkant van een website draaiende te houden, zoals de codering,
				stijl en plug-ins. De voorkant van uw website is wat het publiek kan ziet, omvat de achterkant de stagehands, visagisten,
				klanten, technische crew, toneelmanagers, enz.
			</p>
		</article>
		<p class="title">Termen in Back End Development.</p>

		<!-- ========================== HIER ZET JE DE EERSTE TERM MET 300 WORDEN ========================== -->
		<div class="term">
			<!-- WORDEN HIER ZETTEN |.| -->
			<p class="descriptie">API:</p>
			<!-- DESCRIPTIE HIER ZETTEN   |.| -->
			<p class="defenitie">
				Een Application Programming Interface (API) is een verbinding tussen computers of tussen computerprogramma's. Het is een soort software-interface die
				een dienst aanbiedt aan andere stukjes software. Een document of standaard die beschrijft hoe een dergelijke verbinding of interface moet worden gebouwd
				of gebruikt, wordt een API-specificatie genoemd. Een computersysteem dat aan deze norm voldoet, zou een API implementeren of blootleggen. De term API kan
				verwijzen naar de specificatie of naar de implementatie.
			</p>
			<p class="defenitie">
				In tegenstelling tot een gebruikersinterface, die een computer met een persoon verbindt, verbindt een applicatieprogrammeerinterface computers of stukjes
				software met elkaar. Het is niet bedoeld om rechtstreeks te worden gebruikt door een andere persoon (de eindgebruiker) dan een computerprogrammeur die
				het in software integreert. Een API bestaat vaak uit verschillende onderdelen die fungeren als tools of services die beschikbaar zijn voor de programmeur.
				Een programma of een programmeur die een van deze onderdelen gebruikt, zou dat deel van de API aanroepen. De aanroepen waaruit de API bestaat, worden
				ook wel subroutines, methoden, verzoeken of eindpunten genoemd. Een API-specificatie definieert deze aanroepen, wat betekent dat wordt uitgelegd hoe ze
				te gebruiken of te implementeren.
			</p>
			<div class="termImgContainer">
				<img src="../images/api1.png" alt="" class="termImg">
			</div>
			<p class="defenitie">
				Een doel van API's is om de interne details van hoe een systeem werkt te verbergen, alleen die delen bloot te leggen die een programmeur nuttig vindt en ze
				consistent te houden, zelfs als de interne details later veranderen. Een API kan op maat worden gemaakt voor een bepaald paar systemen, of het kan een
				gedeelde standaard zijn die interoperabiliteit tussen veel systemen mogelijk maakt.
			</p>
			<!-- <p class="defenitie">
				De term API wordt vaak gebruikt om te verwijzen naar web-API's die communicatie mogelijk maken tussen computers die via internet zijn verbonden.
				Er zijn ook API's voor programmeertalen, softwarebibliotheken, computerbesturingssystemen en computerhardware. API's zijn ontstaan ​​in de jaren '40,
				hoewel de term pas in de jaren '60 en '70 opkwam.
			</p> -->
		</div>

		<!-- ========================== HIER ZET JE DE TWEEDE TERM MET 300 WORDEN ========================== -->
		<div class="term">
			<!-- WORDEN HIER ZETTEN |.| -->
			<p class="descriptie">Firewall:</p>
			<!-- DESCRIPTIE HIER ZETTEN   |.| -->
			<p class="defenitie">
				Firewalls analyseren binnenkomend verkeer zorgvuldig op basis van vooraf vastgestelde regels en filteren verkeer afkomstig van onbeveiligde of verdachte
				bronnen om aanvallen te voorkomen. Firewalls bewaken het verkeer op het toegangspunt van een computer, poorten genoemd, waar informatie wordt
				uitgewisseld met externe apparaten.
			</p>
			<p class="defenitie">
				Bijvoorbeeld: "Bronadres 172.18.1.1 mag bestemming 172.18.2.1 bereiken via poort 22."
			</p>
			<div class="termImgContainer">
				<img src="../images/firewall.png" alt="" class="termImg">
			</div>
			<p class="defenitie">
				Denk aan IP-adressen als huizen en poortnummers als kamers in het huis. Alleen vertrouwde mensen (bronadressen) mogen het huis (bestemmingsadres)
				überhaupt betreden - dan wordt het verder gefilterd zodat mensen in het huis alleen toegang hebben tot bepaalde kamers (bestemmingspoorten),
				afhankelijk van of ze de eigenaar zijn , een kind of een gast. De eigenaar heeft toegang tot elke kamer (elke poort), terwijl kinderen en gasten een
				bepaalde reeks kamers mogen betreden (specifieke poorten).
			</p>
		</div>

		<!-- ========================== HIER ZET JE DE DERDE TERM MET 300 WORDEN ========================== -->
		<div class="term">
			<!-- WORDEN HIER ZETTEN |.| -->
			<p class="descriptie">Data Base:</p>
			<!-- DESCRIPTIE HIER ZETTEN   |.| -->
			<p class="defenitie">
				Een database is een systematische verzameling van gegevens. Ze ondersteunen elektronische opslag en manipulatie van gegevens.
				Databases maken databeheer eenvoudig.
			</p>
			<p class="defenitie">
				Laten we een voorbeeld van een database bespreken: Een online telefoongids gebruikt een database om gegevens van mensen,
				telefoonnummers en andere contactgegevens op te slaan. Uw elektriciteitsleverancier gebruikt een database om facturering,
				klantgerelateerde problemen te beheren, storingsgegevens te verwerken, enz.
			</p>
			<div class="termImgContainer">
				<img src="../images/database.jpg" alt="" class="termImg">
			</div>
			<p class="defenitie">
				Laten we ook eens kijken naar Facebook. Het moet gegevens opslaan, manipuleren en presenteren met betrekking tot leden,
				hun vrienden, ledenactiviteiten, berichten, advertenties en nog veel meer. Voor het gebruik van databases kunnen we
				talloze voorbeelden geven.
			</p>
		</div>

	</header>
	<footer>
		<div class="FooterLogo">
			<h1 class="logoFooter">Matrix</h1>
		</div>
		<div class="contact">
			<h3>Contacts</h3>
			<a class="footerLink" href="tel:123-456-7890">123-456-7890</a>
			<a class="footerLink" href="mailto:info@matrix.nl">info@matrix.nl</a>
			<a class="footerLink" href="www.maps.com">palmoranstraat 132</a>
			<p class="footerLink">4342 HF</p>
		</div>
		<div class="developer">
			<h3>Ontwerpers</h3>
			<p class="footerLink">Abrar Muftah</p>
			<p class="footerLink">Samuel Martina</p>
			<p class="footerLink">Omar Oughriss</p>
			<p class="footerLink">Yasine El Ouadi </p>
		</div>
		<div class="company">
			<h3>Bedrijf</h3>
			<a href="index.html" class="footerLink">Home</a>
			<a href="about.html" class="footerLink">About</a>
			<a href="termen.html" class="footerLink">Termen</a>
			<a href="contact.html" class="footerLink">Contact</a>
		</div>
	</footer>
</body>

</html>
