<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<title>Matrix</title>
	<meta charset="utf-8">

	<!-- Style Sheet -->
	<link rel="stylesheet" href="C:\Users\abrar\Desktop\school\ala\software developer website\group website\website\css\style.min.css">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Yaldevi:wght@200;500;700&display=swap" rel="stylesheet">

	<!-- Link for the Favicon -->
	<link rel="icon" href="C:\Users\abrar\Desktop\school\ala\software developer website\group website\website\images\favicon.ico" type="image/x-icon" />

</head>

<body>
	<nav>
		<div class="logo">
			<h1 class="logoName">Matrix</h1>
		</div>
		<ul class="links">
			<li><a class="pageLink" href="index.html">Home</a></li>
			<li><a class="pageLink" href="about.html">About</a></li>
			<li><a class="pageLink" href="termen.html" style="border-bottom: 2px solid black">Termen</a></li>
			<li><a class="pageLink" href="contact.html">Contact</a></li>
		</ul>
	</nav>
	<div class="round1"></div>
	<header class="aboutHeader">
		<h6 class="title">Termen.</h6>
		<p class="aboutTxt">
			<!-- DEZE ZIN MOET GOED WORDEN GEMAAKT -->

			Als je nieuw bent in softwareontwikkeling of je wilt ermee beginnen, je kent natuurlijk niet alle termen in softwareontwikkeling en het kan heel moeilijk zijn om een cursus te beginnen en je af te vragen wat een API is.
			Natuurlijk leer je niet alle termen in één keer. dus hebben we de ontwikkeling van software in drie hoofdtakken verdeeld, zodat het gemakkelijker is om te weten wat waar vandaan komt....</p>
		<div class="container">

			<a href="frontend/frontend.html">
				<div class="card">
					<div class="cardpic">
						<img src="..\images\frontend.png" alt="">
					</div>
					<div class="Txt">
						<h6 class="cardTitle">Front-End Developer</h6>
						<p>Alle informatie over frontend developer</p>
					</div>
				</div>
			</a>
			<a href="backend.html">
				<div class="card">
					<div class="cardpic">
						<img src="..\images\backend.png" alt="">
					</div>
					<div class="Txt">
						<h6 class="cardTitle">Back-End Developer</h6>
						<p>Alle informatie over backend developer</p>
					</div>
				</div>
			</a>
			<a href="fullstack/fullstack.html">
				<div class="card">
					<div class="cardpic">
						<img src="..\images\fullstack.png" alt="">
					</div>
					<div class="Txt">
						<h6 class="cardTitle">Full-Stack Developer</h6>
						<p>Alle informatie over full-stack developer</p>
					</div>
				</div>
			</a>
			<a href="app/mobileapp.html">
				<div class="card">
					<div class="cardpic">
						<img src="..\images\Mobile-App.png" alt="">
					</div>
					<div class="Txt">
						<h6 class="cardTitle">App Developer</h6>
						<p>Alle informatie over mobile app developer</p>
					</div>
				</div>
			</a>

		</div>
	</header>
	<footer>
		<div class="FooterLogo">
			<h1 class="logoFooter">Matrix</h1>
		</div>
		<div class="contact">
			<h3>Contacts</h3>
			<a class="footerLink" href="tel:123-456-7890">123-456-7890</a>
			<a class="footerLink" href="mailto:info@matrix.nl">info@matrix.nl</a>
			<a class="footerLink" href="www.maps.com">palmoranstraat 132</a>
			<p class="footerLink">4342 HF</p>
		</div>
		<div class="developer">
			<h3>Ontwerpers</h3>
			<p class="footerLink">Abrar Muftah</p>
			<p class="footerLink">Samuel Martina</p>
			<p class="footerLink">Omar Oughriss</p>
			<p class="footerLink">Yasine El Ouadi </p>
		</div>
		<div class="company">
			<h3>Bedrijf</h3>
			<a href="index.html" class="footerLink">Home</a>
			<a href="about.html" class="footerLink">About</a>
			<a href="termen.html" class="footerLink">Termen</a>
			<a href="contact.html" class="footerLink">Contact</a>
		</div>
	</footer>
</body>

</html>
