<!DOCTYPE html>
<html lang="en" dir="ltr">



<head>
	<title>Matrix</title>
	<meta charset="utf-8">



	<!-- Style Sheet -->
	<link rel="stylesheet" href="C:\Users\abrar\Desktop\school\ala\software developer website\group website\website\css\style.min.css">



	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Yaldevi:wght@200;500;700&display=swap" rel="stylesheet">



	<!-- Link for the Favicon -->
	<link rel="icon" href="C:\Users\abrar\Desktop\school\ala\software developer website\group website\website\images\favicon.ico" type="image/x-icon" />



</head>



<body>
	<nav>
		<div class="logo">
			<h1 class="logoName">Matrix</h1>
		</div>
		<ul class="links">
			<li><a class="pageLink" href="index.html">Home</a></li>
			<li><a class="pageLink" href="about.html">About</a></li>
			<li><a class="pageLink" href="termen.html" style="border-bottom: 2px solid black">Termen</a></li>
			<li><a class="pageLink" href="contact.html">Contact</a></li>
		</ul>
	</nav>
	<div class="round1"></div>
	<header class="aboutHeader">

		<p class="title"> Internet </p>


		<!-- ========================== HIER ZET JE DE EERSTE TERM MET 300 WORDEN ========================== -->
		<div class="term">
			<!-- WORDEN HIER ZETTEN |.| -->
			<p class="descriptie"> ADSL: </p>
			<!-- DESCRIPTIE HIER ZETTEN   |.| -->
			<p class="defenitie">Ook wel: Asynchronic Digital Subscriber Line

				Afkorting voor Asymmetric Digital Subscriber Line, ADSL is een DSL communicatietechnologie die gebruikt wordt voor het verbinden met internet. Met ADSL kunnen meer gegevens worden verzonden over bestaande koperen telefoonlijnen
				(POTS), in vergelijking met traditionele modem lijnen. ADSL vereist een speciale ADSL-modem en een maximale afstand tussen huis en centrale van 2 tot 3 kilometer. ADSL ondersteund overdrachtssnelheden van 1,5 tot 9 Mbps bij het
				ontvangen van gegevens (beter bekend als downstream-snelheid) en 0,16-1 Mbps bij het verzenden van data (bekend als upstream snelheid).</p> <br>
			<img id="foto1" src="ADSL.jfif" style="" alt="pernie" width="200px" height="auto">
		</div>


		<!-- ========================== HIER ZET JE DE TWEEDE TERM MET 300 WORDEN ========================== -->
		<div class="term">
			<!-- WORDEN HIER ZETTEN |.| -->
			<p class="descriptie"> FTTH:</p>
			<!-- DESCRIPTIE HIER ZETTEN   |.| -->
			<p class="defenitie">Ook wel: Fiber to the home

				FTTH is de afkorting voor fiber-to-the-home (glasvezel tot je huis). Bij fiber to the home worden glasvezelverbindingen doorgetrokken vanuit de wijkcentrale tot direct bij abonnees thuis. Dit in tegenstelling tot
				glasvezelnetwerken waarbij alleen de centrales zijn verbonden door middel van glasvezelverbindingen en het laatste stukje tot aan de aansluiting bij de klant op andere wijze wordt ingevuld.

				Glasvezelkabel is een alternatief voor kabelnetwerken op basis van COAX (coaxiale kabel) en het klassieke telefoonnetwerk, drager voor DSL, dat gebruik maakt van koper.</p> <br>
			<img id="foto1" src="FTTH.png" style="grid: right;" alt="pernie" width="300px" height="auto">
		</div>


		<!-- ========================== HIER ZET JE DE DERDE TERM MET 300 WORDEN ========================== -->
		<div class="term">
			<!-- WORDEN HIER ZETTEN |.| -->
			<p class="descriptie">Downloaden:</p>
			<!-- DESCRIPTIE HIER ZETTEN   |.| -->
			<p class="defenitie">Downloaden is het binnenhalen van informatie via een computernetwerk, meestal het internet. De download kan door de ontvanger worden geïnitieerd via bijvoorbeeld een webserver, FTP-server of een mailserver. Een
				bestand dat wordt gedownload of reeds volledig is ontvangen wordt wel aangeduid als 'een download'.

				Zodra het bestand of bestanden volledig zijn opgehaald is de download voor de ontvanger beschikbaar. Dit kan bijvoorbeeld een webpagina zijn, bestaande uit meerdere codebestanden en plaatjes, weer te geven in een webbrowser. Of
				een muziekbestand om naar te luisteren of op te slaan op een mp3-speler. Hiermee wijkt downloaden af van streamen, waar inkomende informatie (meestal video of audio) gelijk afgespeeld kan worden.

				Wanneer materiaal waarop auteursrecht rust zonder toestemming van de rechthebbenden verkregen wordt spreken we wel over illegaal downloaden.</p> <br>
			<img id="foto1" src="DWL.jfif" style="grid: right;" alt="pernie" width="400px" height="auto">
		</div>






	</header>
	<footer>
		<div class="FooterLogo">
			<h1 class="logoName">Matrix</h1>
		</div>
		<div class="contact">
			<h3>Contacts</h3>
			<a class="footerLink" href="tel:123-456-7890">123-456-7890</a>
			<a class="footerLink" href="mailto:info@matrix.nl">info@matrix.nl</a>
			<a class="footerLink" href="www.maps.com">palmoranstraat 132</a>
			<p class="footerLink">4342 HF</p>
		</div>
		<div class="developer">
			<h3>Ontwerpers</h3>
			<p class="footerLink">Abrar Muftah</p>
			<p class="footerLink">Abrar Muftah</p>
			<p class="footerLink">Abrar Muftah</p>
			<p class="footerLink">Abrar Muftah</p>
		</div>
		<div class="company">
			<h3>Bedrijf</h3>
			<a href="index.html" class="footerLink">Home</a>
			<a href="about.html" class="footerLink">About</a>
			<a href="termen.html" class="footerLink">Termen</a>
			<a href="contact.html" class="footerLink">Contact</a>
		</div>
	</footer>
	<div class="round2"></div>
</body>



</html>
