<!DOCTYPE html>
<html lang="en" dir="ltr">



<head>
  <title>Matrix</title>
  <meta charset="utf-8">



  <!-- Style Sheet -->
<link rel="stylesheet" href="C:\Users\abrar\Desktop\school\ala\software developer website\group website\website\css\style.min.css">



  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Yaldevi:wght@200;500;700&display=swap" rel="stylesheet">



  <!-- Link for the Favicon -->
  <link rel="icon" href="C:\Users\abrar\Desktop\school\ala\software developer website\group website\website\images\favicon.ico" type="image/x-icon" />



</head>



<body>
  <nav>
    <div class="logo">
      <h1 class="logoName">Matrix</h1>
    </div>
    <ul class="links">
      <li><a class="pageLink" href="index.html">Home</a></li>
      <li><a class="pageLink" href="about.html">About</a></li>
      <li><a class="pageLink" href="termen.html" style="border-bottom: 2px solid black">Termen</a></li>
      <li><a class="pageLink" href="contact.html">Contact</a></li>
    </ul>
  </nav>
  <div class="round1"></div>
  <header class="aboutHeader">

  <p class="title"> Hardware </p>


  <!-- ========================== HIER ZET JE DE EERSTE TERM MET 300 WORDEN ========================== -->
    <div class="term">
      <!-- WORDEN HIER ZETTEN |.| -->
      <p class="descriptie"> Harde schijf: </p>
      <!-- DESCRIPTIE HIER ZETTEN   |.| -->
      <p class="defenitie">Ook wel: hard disk drive (HDD), hard drive of fixed disk

Een harde schijf is een computeronderdeel waarop informatie permanent kan worden opgeslagen. In tegenstelling tot bij werkgeheugen (RAM) blijft bij permanent geheugen (ROM) de data ook na het uitschakelen van het apparaat behouden. In het Engels wordt het onderdeel aangeduid als hard disk of hard drive.

Harde schijven worden verbonden met het moederbord maar bevinden zich over het algemeen op een eigen plek in de behuizing. Het is mogelijk de opslagcapaciteit uit te breiden door een externe harde schijf aan te sluiten.

De aanduiding 'schijf' verwijst naar één of meerdere draaiende vaste schijven waarvan het oppervlak met behulp van magnetisme kan worden beschreven. Het begrip harde schijf kan zowel op deze fysieke schijven als op de totale behuizing van het opslagmedium slaan.

Modernere harde schijven bevatten geen bewegende onderdelen meer. Deze solid state drives maken voor de opslag gebruik van chips zoals flashgeheugen. Het lezen en schrijven van data van en naar deze SSD's verloopt vele malen sneller dan bij traditionele harde schijven.</p> <br>
	 <img id="foto1" src="HSI.jpg" style="" alt="pernie" width="200px" height="auto">
	</div>


    <!-- ========================== HIER ZET JE DE TWEEDE TERM MET 300 WORDEN ========================== -->
    <div class="term">
      <!-- WORDEN HIER ZETTEN |.| -->
      <p class="descriptie"> Moederbord:</p>
      <!-- DESCRIPTIE HIER ZETTEN   |.| -->
      <p class="defenitie">Een moederbord is het belangrijkste onderdeel van een computer. Het moederbord verbindt de verschillende componenten van een pc met elkaar, zowel fysiek als elektronisch.

Op deze centrale printplaat vinden we onder meer de processor, het werkgeheugen en diverse aansluitingen voor zowel interne onderdelen, zoals harde schijven, als externe randapparatuur. Daarnaast bieden moederborden de mogelijkheid om modulaire insteekkaarten te plaatsen die specifieke functies en aansluitingen verzorgen. Dergelijke uitbreidingen, zoals videokaarten, netwerkkaarten en geluidskaarten, worden echter de afgelopen decennia steeds vaker in het moederbord geïntegreerd.

Het moederbord zorgt ervoor dat essentiële onderdelen zoals de processor en het geheugen met elkaar kunnen communiceren. Deze gedeelde verbinding, waarvan ook andere componenten gebruik kunnen maken, wordt de bus genoemd.</p> <br>
	 <img id="foto1" src="R.jfif" style="grid: right;" alt="pernie" width="250px" height="auto">

	<p class="descriptie"><br>
	</p>
	<p class="descriptie">Moederborden in andere apparaten</p>
	<p class="defenitie">
	<p class="defenitie">Naast traditionele desktopcomputers beschikken ook laptops en servers over een moederbord. Vanwege het compacte formaat van hun behuizing bieden deze moederborden minder mogelijkheden tot modulaire uitbreiding en is het nog gebruikelijker dat essentiële componenten in het moederbord zelf zijn opgenomen.

Bij tablets en smartphones wordt het uiterlijk en de indeling van de centrale printplaat die je als moederbord kunt beschouwen nog verder bepaald door de vorm van het apparaat.</p> <br>
    </div>


    <!-- ========================== HIER ZET JE DE DERDE TERM MET 300 WORDEN ========================== -->
    <div class="term">
      <!-- WORDEN HIER ZETTEN |.| -->
      <p class="descriptie">USB:</p>
      <!-- DESCRIPTIE HIER ZETTEN   |.| -->
      <p class="defenitie">Ook wel: universal serial bus

Universal Serial Bus, oftewel USB, is een standaard die bestaat uit kabels, connectoren en protocollen voor de verbinding, datacommunicatie en energievoorziening tussen computers, randapparatuur en overige electronische aparaten. De standaard werd ontwikkeld in de jaren '90 van de vorige eeuw en wordt onder meer toegepast om printers, camera's en smartphones te verbinden met computers en met elkaar.

USB is ontwikkeld als een universele standaard om uiteenlopende apparaten op elkaar te kunnen aansluiten. De standaard voorzag in een groeiende behoefte naar snelheid en bandbreedte bij de communicatie tussen apparaten. Daarnaast maakte USB het mogelijk om apparaten via deze verbinding in hun voeding te laten voorzien.

Het kenmerk van een USB-kabel is dat deze maar op één manier aangesloten kan worden. Zo is er bij een verbinding via USB altijd sprake van een 'host' en een 'endpoint'. Om meer apparaten aan te sluiten kunnen USB-hubs worden ingezet. USB-kabels kunnen in beperkte mate worden verlengd om een iets grotere afstand te kunnen overbruggen. Voor dataoverdracht over grotere afstand is USB minder geschikt.</p> <br>
	  <img id="foto1" src="USB.jpg" style="grid: right;" alt="pernie" width="250px" height="auto">
	<p class="descriptie"><br>
	</p>
	<p class="descriptie">Verschillende versies van USB</p>
	<p class="defenitie">
	<p class="defenitie">Van de USB-standaard bestaan inmiddels verschillende versies, die onderling zo veel mogelijk compatible zijn gehouden. Zo is het mogelijk om een USB 3.0-poort te verbinden met een apparaat dat beschikt over USB 2.0.

De eerste versie, USB 1.0, werd uitgebracht in 1996 en had een overdrachtsnelheid die varieerde van 1.5 Mbit/s tot 12 Mbit/s. De lengte van de kabels was nog beperkt en het verlengen hiervan was nog niet mogelijk. In 1998 werden met USB 1.1 enkele tekortkomingen van de eerste versie verholpen. Dit was de eerste populaire versie van de USB-standaard.

In 2000 werd USB 2.0 gelanceerd. De belangrijkste verbetering was de hogere snelheid, in theorie tot 480 Mbit/s. Daarnaast werden enkele nieuwe connectoren ingevoerd, om het toepassen van USB-poorten bij kleinere apparaten makkelijker te maken.

In november werd USB 3.0 geïntroduceerd, waarmee bij de snelste verbindingen een snelheid van 5.0 Gbit/s mogelijk zou moeten zijn. De snelheid die in de praktijk gehaald kan worden is van vele omstandigheden afhankelijk, waaronder de kwaliteit van de kabels en de capaciteit van de apparaten die onderling zijn verbonden. In de opvolger zal de snelheid nog verder worden opgeschroefd.</p>
    </div>






  </header>
  <footer>
    <div class="FooterLogo">
      <h1 class="logoName">Matrix</h1>
    </div>
    <div class="contact">
      <h3>Contacts</h3>
      <a class="footerLink" href="tel:123-456-7890">123-456-7890</a>
      <a class="footerLink" href="mailto:info@matrix.nl">info@matrix.nl</a>
      <a class="footerLink" href="www.maps.com">palmoranstraat 132</a>
      <p class="footerLink">4342 HF</p>
    </div>
    <div class="developer">
      <h3>Ontwerpers</h3>
      <p class="footerLink">Abrar Muftah</p>
      <p class="footerLink">Abrar Muftah</p>
      <p class="footerLink">Abrar Muftah</p>
      <p class="footerLink">Abrar Muftah</p>
    </div>
    <div class="company">
      <h3>Bedrijf</h3>
      <a href="index.html" class="footerLink">Home</a>
      <a href="about.html" class="footerLink">About</a>
      <a href="termen.html" class="footerLink">Termen</a>
      <a href="contact.html" class="footerLink">Contact</a>
    </div>
  </footer>
  <div class="round2"></div>
</body>



</html>
